[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
anchor_project = "6fhEuzQ54WFq1fq2BwPp3GLC23NJsswPResuwdoq41Bs"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/keypairs/msc/mckc356N413e62ddDktbGgThNuLS8YPui8eArFeQU5a.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
